:root {
    --col1: #4b3832;
    --col2: #854442;
    --col3: #d6a86b;
    --col4: #3c2f2f;
    --col5: #be9b7b;
}

body {
    background-color: var(--col2);
    font-family: 'Poppins', sans-serif;
}

.fixedElement {
    position:fixed;
    top:0;
    z-index:100;
    width: 100%;
}

.text {
    color: var(--col3);
    font-size: 1em;
}

.fixedElementBottom {
    position:fixed;
    top:95%;
    z-index:100;
}

.inp {
    margin: 10px;
    background-color: var(--col5);
    border-color: var(--col1);
    appearance: none;
    border-radius: 5px;
    border-width: 0px;
    outline: none;
    transition: 150ms
}

.inp:focus {
    color: var(--col1);
    border-width: 0px 0px 4px 0px;
    transition: 150ms
}

.inp:focus::placeholder {
    color: var(--col1);
    transition: 150ms;
}

.inp::placeholder {
    color: rgb(80, 80, 80);
    transition: 150ms;
}